<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"/>
    <add key="ClientSecret" value="ttttt.-K~0Fm.yyy.eeeee-XR~2BV"/>
    <add key="OrganizationUri" value="https://xxxx.crm4.dynamics.com"/>
  </appSettings>
</configuration>