<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="64bb82c7-5f86-4e62-b453-f4ce84055d1c"/>
    <add key="ClientSecret" value="t1UJ7ON.-K~0Fm.0MTC.vgJ0yhZ-XR~2BV"/>
    <add key="OrganizationUri" value="https://unluteknik.crm4.dynamics.com"/>
  </appSettings>
</configuration>